								<section>
									<header class="main">
										<h1>About Us</h1>
									</header>
									<h2>我們會盡可能發展出最好的程式來幫助大家選課
									<p></p>
									</h2>
									<div class="row">
											<div class="6u 12u$(small)">
												<h3>
												開發緣由:
												<blockquote>
												由於現今學校選課制度的問題，而可能因為選課時一個疏忽或是慢了一步造成整學期的課表變成黑暗，本程式為模擬人之最快速度幫助您選課，幫助您選到心目中理想的課表。
												</blockquote>
												<blockquote>
												本程式是作為選課的輔助工具，而不是保證能夠100%選到課的神器，開發這個程式的最主要原因是每次只要一選課完就看到許多同學在透可版上或是其他地方抱怨自己沒選到課的慘況，為了造福淡江同學而設計的。
												</blockquote>
												<blockquote>
												沒有一個程式是完美的，每個程式都有可能存在bug，但開發者會盡量的對於選課程式進行修正，讓程式能夠更完美。由於在非選課期間礙於無法使用選課系統所以沒辦法完美進行測試，若在選課期間有出現任何程式問題需請使用者"自行負責"，開發者已經盡最大的力量了，請多體諒開發者。
												</blockquote>				
												<blockquote>
												本程式並未對學校系統進行攻擊，也未觸犯到第三十六章，本身完全沒有任何破解學校電腦系統，或是無故侵入他人帳號密碼、取得或變更相關設備電磁記錄。
												</blockquote>
												<blockquote>
												本程式僅供學術參考之用途，若使用者下載之後拿來做為不正當用途，使用程式的人須自行負起全部責任，開發程式人員及其相關人員則一概不負任何責任，下載則表示你已經同意此規範內容，若不同意上述此條件者請勿下載使用。
												</blockquote>
												</h3>
											</div>
											<div class="6u$ 12u$(small)">
											<span class="image main"><img  src="images/tkucoursewinapp1.png" alt="" /></span>
											</div>
										</div>
								</section>