								<section>
									<header class="main">
										<h1>淡江選課驗證碼幫手</h1>
									</header>
									<p></p>
									<div class="row">
											<div class="6u 12u$(small)">
												<font size="4">
													<p>在使用此程式前，請先注意以下事項(重要):</p>
													<ol>
													<font color="red">
														<li>若使用為https安全加密連線網頁登入時，需點選允許該頁面執行不安全指令碼或是使用非安全連線(http)才會執行。</li>
														<li>此套件只有自動輸入驗證碼功能，不包含輸入帳密、自動登入、自動選課功能，若要使用這些功能請使用自動選課套件。</li>
													</font>
														
													</ol>
												</font>
												<div class="row">
												    <div class="6u 12u$(small)">
													<ul class="actions vertical">
														<li><a target="_blank" class="button big icon special fit" href="https://chrome.google.com/webstore/detail/mbeepdegjmieggjldlhfdgdlhfoohecl" >Chrome 商店</a></li>
													</ul>
													</div>
													<div class="6u$ 12u$(small)">
													<ul class="actions vertical">
														<li><a onclick="chrome.webstore.install()" class="button big icon special fit">加入套件</a></li>
													</ul>
													</div>
												<!--<div class="row">
												<div class="1u"><span class="image fit"></span></div>
												    <div class="10u 12u$(small)">
													<ul class="actions vertical">
														<li><a target="_blank" class="button big icon special fit" href="https://chrome.google.com/webstore/detail/tku-course-application/eidmdakdhomaaomjnellbpjjmidonmjb" >Chrome商店連結</a></li>
													</ul>
													</div>
												<div class="1u"><span class="image fit"></span></div>
											
												</div>-->
											</div>
											</div>
											<div class="6u$ 12u$(small)">
											<!--put image-->
											<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/chromeautofill.png" alt="" /></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
											</div>
											
											<!-- Break -->
										</div>
									<h3>
								</section>
								<hr/>
								<section>
								<h1>使用說明</h1>
								<h2>介面內容說明 :</h2>
								<blockquote>
								<font size="4" color="black">
								<ol>
								<li>切換開關 : 開啟或關閉自動輸入驗證碼功能</li>
								<li>更新驗證碼參數:針對當前系統取得對應解決驗證碼所需資訊，若系統有更改驗證碼資訊才需使用。</li>
								</ol>
								</font>
								</blockquote>
								<div class="box alt">
											<div class="row 50% uniform">
											<div class="4u"><span class="image fit"></span></div>
											<div class="4u"><span class="image fit"><img src="images/chromeautofill1.png" alt="" /></span></div>
											<div class="4u$"><span class="image fit"></span></div>
											</div></div>
								<h2>
								<p/><p/>
								而本程式使用方式非常容易，只要打開此功能即可在網頁載入完成時自動幫您輸入完驗證碼欄位，若不想使用可以點擊切換開關關閉此功能。
								<p/>
								<font color="red">**在此再次提醒，此套件只有自動輸入驗證碼功能，不包含輸入帳密、自動登入、自動選課功能，若要使用這些功能請使用另一個自動選課套件，此套件適用對象為只想自己用手動搶課的人。</font>
								</h2>
								</section>