								<section>
									<header class="main">
										<h1>贊助我們</h1>
									</header>
									
									<p></p>
									<p><h2>如果使用完應用程式之後想要回饋給開發者，歡迎贊助我們(可使用超商代碼繳費以及信用卡)</h2></p>
									
									<h2><a href="http://tkucourseapplication.sourceforge.net/autopayment.php">點此進行100元定額贊助</a></h2>
									<br> </br>
									<h2>或是其他金額 : </h2>
									<form method="post" action="http://tkucourseapplication.sourceforge.net/autopayment.php">
														<div class="row uniform">
															<div class="6u$ 12u$(xsmall)">
																<input type="text" name="Amt" id="Amt" value="" placeholder="輸入金額" />
															</div>
															<div class="6u$ 12u$(xsmall)">
																<input type="submit" id="submit" name="submit" value="送出" class="special" />
															</div>
															<!-- Break -->
														</div>
													</form>
								</section>
								<br></br>