								<section>
									<header class="main">
										<h1>下載程式</h1>
									</header>
									<p></p>
									<h2>自從公開到現在一年來，TKU Course Application的下載次數已突破4000次以上，包含行動版以及電腦版，也幫助了許多人選到了心目中理想課表，非常感謝你們的支持，為了讓使用者們有更輕鬆的選課方式，歡迎來給我們贊助好讓我們有持續開發的動力。</h2>
									<br></br>
									<form method="post" action="http://tkucourseapplication.sourceforge.net/autopayment.php">
														<div class="row uniform">
															<div class="4u 12u$(small)">
																<input type="radio" id="Amt-100" name="Amt" value="100" checked>
																<label for="Amt-100">$100</label>
															</div>
															<div class="4u 12u$(small)">
																<input type="radio" id="Amt-200" name="Amt" value="200">
																<label for="Amt-200">$200</label>
															</div>
															<div class="4u 12u$(small)">
																<input type="radio" id="Amt-300" name="Amt" value="300">
																<label for="Amt-300">$300</label>
															</div>
															<div class="4u 12u$(small)">
																<input type="radio" id="Amt-500" name="Amt" value="500">
																<label for="Amt-500">$500</label>
															</div>
															<div class="4u 12u$(small)">
																<input type="radio" id="Amt-1000" name="Amt" value="1000" >
																<label for="Amt-1000">$1000</label>
															</div>
															<div class="4u 12u$(small)">
																<input type="radio" id="Amt-1500" name="Amt" value="1500" >
																<label for="Amt-1500">$1500</label>
															</div>
															<br></br>
															<div class="12u$ 12u$(xsmall)" style="text-align:right;">
															    <a target="_blank" href="https://sourceforge.net/projects/tkucourseapplication/files/latest/download"><font size="4">直接下載</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																<input type="submit" id="submit" name="submit" value="&nbsp;&nbsp;&nbsp;&nbsp;贊助&nbsp;&nbsp;&nbsp;&nbsp;" class="button big special" />
															  
															</div>
															<!-- Break -->
														</div>
													</form>
								</section>