								<section id="banner">
									<div class="content">
										<header>
											<h2>
											<font color="#FF0000">
											<br>公告(2018/9/17):</p>當前所有最新版本依照目前釋出的系統皆可正常使用107(1)學期加退選課程，祝各位選課順利!!</br>
											</br>
									</font>
											</h2>
											
										</header>
										<p></p>
										<ul class="actions">
											<li><a href="#!news" class="button big">最新消息</a></li>
											<li><a href="#!donate" class="button special big">贊助我們</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="images/tkucoursechrome.png" alt="" />
									</span>
								</section>

							<!-- Section -->
							<hr/>
							<!-- Section -->
								<section>
									<header class="major">
										<h2>我們的程式</h2>
									</header>
									<div class="posts">
										<article>
											<div class="box alt">
											<div class="row 50% uniform">
											<div class="1u"><span class="image fit"></span></div>
											<div class="9u"><span class="image fit"><a href="#!chromeextension" class="image"><img src="images/tkucoursechrome.png" alt="" /></a></span></div>
											<div class="1u$"><span class="image fit"></span></div>
											</div></div>
											<h3>Chrome Extension選課程式</h3>
											<p>控制Chrome瀏覽器的方式來進行選課</p>
											<ul class="actions">
												<li><a href="#!chromeextension" class="button">More</a></li>
												<li><a target="_blank" href="https://chrome.google.com/webstore/detail/eidmdakdhomaaomjnellbpjjmidonmjb"  class="button">Chrome 商店</a></li>
												<!--<li><a target="_blank" href="https://sourceforge.net/projects/tkucourseapplication/files/latest/download" class="button icon fa-download">Download</a></li>-->
											</ul>
										</article>
										<article>
											<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><a href="#!tkucourseandroid" class="image"><img src="images/app_layout.jpg" alt="" style="border:1px #000000 solid;"/></a></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
											
											<h3>淡江大學隨時隨地選課</h3>
											<p>讓你隨時隨地都能夠用行動裝置進行選課</p>
											<ul class="actions">
												<li><a href="#!tkucourseandroid" class="button">More</a></li>
												<li><a target="_blank" href="https://play.google.com/store/apps/details?id=com.TKU.Course.Application" class="button">Google Play</a></li>
											</ul>
										</article>
										<article>
											<a href="#!tkucourseapplication" class="image"><img src="images/tkucourseapplication.png" alt="" /></a>
											<h3>Windows 桌面版選課程式</h3>
											<p>適用於Windows 桌面版選課程式</p>
											<ul class="actions">
												<li><a href="#!tkucourseapplication" class="button">More</a></li>
												<li><a target="_blank" href="#!download" class="button">Download</a></li>
												
											</ul>
										</article>
										<article>
											<a href="#!chromeautofill" class="image"><img src="images/chromeautofill.png" alt="" /></a>
											<h3>淡江選課驗證碼幫手</h3>
											<p>幫助你省去輸入驗證碼的好幫手</p>
											<ul class="actions">
												<li><a href="#!chromeautofill" class="button">More</a></li>
												<li><a target="_blank" href="https://chrome.google.com/webstore/detail/mbeepdegjmieggjldlhfdgdlhfoohecl"  class="button">Chrome 商店</a></li>
												<!--<li><a target="_blank" href="https://sourceforge.net/projects/tkucourseapplication/files/latest/download" class="button icon fa-download">Download</a></li>-->
											</ul>
										</article>
										
									</div>
								</section>
