								<section>
									<header class="main">
										<h1>最新消息:</h1>
									</header>
									<h2>2017/02/21 程式更新公告:
									<p></p>
									</h2>
									<font size="4">
									
												<blockquote>
												目前webbrowser版本選課程式大致上更新完畢!!</p>
												此版本程式對於有些電腦可能在執行上會出現javascript的錯誤請注意!!使用時請盡量使用較新版本作業系統的電腦</p>
												Android版本和POST版本也會將在稍後進行更新請稍等</p>
												因自動判斷驗證碼的技術層面較高，目前暫時不公開原始碼請見諒</p>
												目前提供自動判斷驗證碼程式有設定使用期限僅限在這次加退選請注意!!</p>
												</blockquote>
												<blockquote>
												程式下載連<a href="#!download" target="_blank">請點此</a>
												</blockquote>
												
												TKU Course Application
									</font>
									<font size="4"><p></p><a href="#!news">返回最新消息選單</a></font>
								</section>