								<section>
									<header class="main">
										<h1>最新消息:</h1>
									</header>
									<h2>2017/02/15 程式無法使用之公告:
									<p></p>
									</h2>
									<font size="4">
									
												<blockquote>
												因學校公告於加退選時選課系統加設驗證碼機制，目前底下所有選課輔助程式皆無法於加退選時使用，請注意!!</p>
												有同學欲於開學加退選選課者切記請誤使用程式進行選課。</p>
												對於接下來是否能夠進行程式的修正我們要等到學校所做出新的系統變更出來後才能評估是否能進行修正，請大家見諒，也非常感謝之前大家對於我們的支持。</p>
												</blockquote>
												<blockquote>
												學校官方公告連結:<a href="http://www.acad.tku.edu.tw/CS/news/news.php?Sn=1333" target="_blank">http://www.acad.tku.edu.tw/CS/news/news.php?Sn=1333</a>
												</blockquote>
												
												TKU Course Application
									</font>
									<font size="4"><p></p><a href="#!news">返回最新消息選單</a></font>
								</section>