								<section>
									<header class="main">
										<h1>淡江隨時隨地選課</h1>
									</header>
									<p></p>
									<div class="row">
											<div class="6u 12u$(small)">
												<font color="red" size="4">
													<p>在使用此程式前，請先注意以下事項:</p>
													<ol>
														<li>學校系統的一次只接受一個地方登入選課限制，請勿在使用程式期間同時登入該帳號至其他地方進行選課以避免不必要的程式錯誤</li>
														<li>程式會消耗一定資源的網路，使用行動上網的同學需謹慎注意自己的網路使用量，若因造成任何額外傳輸費後果自負</li>
														<li>本程式為選課網站輔助工具，能用此App選課時段與學校系統對於你當前帳號能進入選課系統的時段相同，在你帳號無法進入選課系統選課的期間僅會連續重覆登入(重覆登入至系統開放為止才會進入選課)</li>
													</ol>
												</font>
												<div class="row">
												<div class="1u"><span class="image fit"></span></div>
												    <div class="10u 12u$(small)">
													<ul class="actions vertical">
														<li><a target="_blank" class="button big icon special fit" href="https://play.google.com/store/apps/details?id=com.TKU.Course.Application" >Google Play 連結</a></li>
													</ul>
													</div>
											    <div class="3u"><span class="image fit"></span></div>
											<!-- Break -->
												</div>
											
											</div>
											<div class="6u$ 12u$(small)">
											<!--put image-->
											<div class="box alt">
											<div class="row 50% uniform">
											<div class="2u"><span class="image fit"></span></div>
											<div class="8u"><span class="image fit"><img src="images/app_layout.jpg" alt="" style="border:1px #000000 solid;"/></span></div>
											<div class="2u$"><span class="image fit"></span></div>
											</div></div>
											</div>
											<!-- Break -->
										</div>
									<h3>
								</section>
								<hr/>
								<section>
								<h1>使用說明</h1>
								<h2>介面內容說明 :</h2>
								<blockquote>
								<font size="4" color="black">
								<ol>
								<li>學號 : 輸入你要選課的學號</li>
								<li>密碼 : 輸入你的"選課專用"密碼</li>
								<li>伺服器 : 選擇想要在中文或是英文伺服器選課</li>
								</ol>
								</font>
								</blockquote>
											<div class="box alt">
											<div class="row 50% uniform">
											<div class="3u"><span class="image fit"></span></div>
											<div class="6u"><span class="image fit"><img src="images/explanation_1.jpg" alt="" style="border:1px #000000 solid;" /></span></div>
											<div class="3u$"><span class="image fit"></span></div>
											</div></div>
								<h2>
								而本程式選課的方式有分2種，輸入的方式說明如下 :
								</h2>
								<ol>
								<h2><li>一般加選(Normal) :</h2>
								<blockquote>
								<font size="4" color="black">
								<br><font color="red">**此模式為搶課用途於選課開放前幾分鐘按下開始執行鍵即可(開放選課時間前一分鐘按最佳)!!</font></br>
								<br>區塊:讓相同學門課程排在一起，每個區塊內科目代碼依照心目中的順位排序，若依序加選途中有代碼加選成功，同一區塊之後的代碼直接跳過。若選課途中遇退選科目，無論如何退選是否成功仍會繼續執行下一個代碼。</br>
								<br>按下代碼欄位即可對該代碼進行修改或是刪除</br>
								<br>Ex:同一區選課順序為:(加1111), (退2222), (加3333) ，若1111加選成功則(2222,3333)皆不會幫你送出，反之(2222)會執行，執行完後會繼續執行(3333)由此類推。</br>
								<!--<br>此模式之間的分隔符號判斷為“>”, “#” ,”,” 和換行來表示</br>
								“>” 表示你的選課排順位區隔</br>
								“#” 表示要退選此課程，加在4位數代碼前面，請小心使用!!</br>
								”,” 和 換行表示區間分開</br>
								
								<br>輸入範例如下:</br>
								<br>
								<pre><code><font size="4">0000>1111>2222,#3333,4444,5555>6666,7777>#8888>9999,1234>#2345>3456</font></code></pre>
								或是</br>
								<br>
								<pre><code><font size="4">0000>1111>2222
#3333
4444
5555>6666
7777>#8888>9999
1234>#2345>3456</font></code></pre>
								</br>
								以上2種輸入方式所代表的意思相同，請擇一方法使用</br>
								假設 0000,4444,5555,6666,7777 選課人數已滿，電腦執行的方式如下 :</p>
								<div class="box">
									<ul>
										<li>加選 0000 (滿，使用備案)</li>
										<li>加選 1111(成功, 之後備案捨棄直接跳下一區間)</li>
										<li>退選 3333</li>
										<li>加選 4444(滿, 無備案直接跳下一區間)</li>
										<li>加選 5555 (滿，使用備案)</li>
										<li>加選 6666(滿, 無備案直接跳下一區間)</li>
										<li>加選 7777(滿，使用備案)</li>
										<li>退選 8888(退選完後看下一個備案)</li>
										<li>加選 9999(成功, 之後備案捨棄直接跳下一區間)</li>
										<li>加選 1234(成功, 之後備案捨棄直接跳下一區間)</li>
										<li>結束</li>
									</ul>
								</div>-->
								在按 Start開始之前，程式會跳出一個訊息視窗供你確認你所填寫的的要求與他讀取出來的是否為一致(如下圖)</br>
								</br>
											<div class="box alt">
											<div class="row 50% uniform">
											<div class="3u"><span class="image fit"></span></div>
											<div class="6u"><span class="image fit"><img src="images/explanation_2.jpg" alt=""  /></span></div>
											<div class="3u$"><span class="image fit"></span></div>
											</div></div>
								</font>
								</blockquote>
								</li>
								<h2><li>迴圈加選(Loop) :</h2>
								<blockquote>
								<font size="4" color="black">
								此模式為重複加選使用者所設定的代碼直到選上為止，而此功能不包含退選功能。</br>
								按下代碼欄位即可對該代碼進行修改或是刪除</br>
								以下圖的設定來說，電腦會一直對1234,2345,3456這3門課一直重複加選，直到這其中一個代碼選上為止(包含加選超過一定次數強制登出後再自動重新登入)</br>
								<br></br>
											<div class="box alt">
											<div class="row 50% uniform">
											<div class="3u"><span class="image fit"></span></div>
											<div class="6u"><span class="image fit"><img src="images/explanation_3.jpg" alt="" /></span></div>
											<div class="3u$"><span class="image fit"></span></div>
											</div></div>
								
								</font>
								
								<h2>而程式在"迴圈模式"中其背景執行選課時會常駐顯示在通知欄位上(如下圖)，此時可以按Home鍵退出來並同時使用其他app :</h2>
											<div class="box alt">
											<div class="row 50% uniform">
											<div class="3u"><span class="image fit"></span></div>
											<div class="6u"><span class="image fit"><img src="images/explanation_4.jpg" alt="" /></span></div>
											<div class="3u$"><span class="image fit"></span></div>
											</div></div>
								<h2>程式若有選到課的話則會傳送通知告訴您選到那些課(如下圖) :</h2>
											<div class="box alt">
											<div class="row 50% uniform">
											<div class="3u"><span class="image fit"></span></div>
											<div class="6u"><span class="image fit"><img src="images/explanation_5.jpg" alt="" /></span></div>
											<div class="3u$"><span class="image fit"></span></div>
											</div></div>
								</blockquote>
								</li>
								</ol>
								</section>